<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om Accesesorios-Contacto</title>
    <meta name="description" content="Contactate con nosotros. Atencion al cliente de gran calidad, respondemos todos los mensajes dentro de 24hs. ¡No dudes en escribirnos!">
    <meta name="keyboard" content="contacto, mail, telefono, cliente">
    <link rel="stylesheet" href="../css/index.css">

    <link rel="stylesheet" href="../sass/index.css">
    
    <script src="https://kit.fontawesome.com/e8ae0d13c5.js" crossorigin="anonymous"></script>
</head>
<body>

    <!--Menu de nevagacion.-->
    <header>
        <div class="container">
            <nav class="nav_checkbox">
                <a href="../../index.html" class="logo"><img src="../image/om-logo.png" alt="Logo de Om Accesorios"></a>
                <input type="checkbox" id="tab-nav" class="tab-nav">
                <label for="tab-nav" class="label">
                    <div class="burger"></div>
                    <div class="burger"></div>
                    <div class="burger"></div>
                </label>
                <ul class="content_nav">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="./envios-entregas.html">Envios y Entregas</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Formulario de contacto.-->
    <form class="formulario" action="">
        <h2>Formulario de Contacto</h2>
        

        <input type="text"  placeholder="Nombre:" maxlength="20" size="30">
        
        <input type="email"  placeholder="Correo:" maxlength="20" size="30">
        
        <textarea name="mensaje:" placeholder="Mensaje" id="" ></textarea>
        
        <input type="submit" value="Enviar">

        <p>Responderemos a todas sus consultas, sugerencias y reclamos lo mas pronto posible. Gracias por elegirnos.</p>
    </form>

<!-- Aquie comienza el footer con algunas redes e informacion que deberia tener la pagina-->

    <div class="mapaGo">
        <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26276.168946707243!2d-58.65577947903168!3d-34.59098186424548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb9254c083df5%3A0x87b633dca0937bac!2sHurlingham%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1657506533209!5m2!1ses!2sar"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <footer class="pie-pagina">
        <div class="grupo1">
            <div class="caja">
                <figure>
                    <a href="../../index.html">
                        <img src="../image/om-logo.png" alt="LOGO De om Accesorios">
                    </a>
                </figure>
            </div>
            <div class="cajaSobreNosotros">
                <h2>Sobre Nosotros</h2>

                <li><a href="../../index.html">Home</a></li>
                    <li><a href="./envios-entregas.html">Envios y Entregas</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                <p>Pueden contactarnos al 11-2222-3333</p>
                <p>Atencion al cliente todos los dias. De 9 a 18 HS.</p>
            </div>
            <div class="caja">
                <h2>Siguenos</h2>
                <div class="red-social">
                    <a href="https://es-la.facebook.com/" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/?hl=es" class="fa fa-instagram"></a>
                    <a href="https://twitter.com/?lang=es" class="fa fa-twitter"></a>

                </div>

            </div>
        </div>

        <div class="grupo2">
            <small> &copy; <b>Om Accesorios</b> -Todos los Derechos Reservados</small>
        </div>

    </footer>



    
</body>
</html>