<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om Accesorios-Envios y Entregas</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../sass/index.css">
    <meta name="description" content="¡Toda la informacion sobre las entregas y los envios la tienes aqui! consulta donde puedes retirar o coordinar para que puedas tener tu pedido sin ningun problema.">
    <meta name="keyboard" content="productos, entregas, envios, precios.">
    <script src="https://kit.fontawesome.com/e8ae0d13c5.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- Menu de navegacion.-->
    <header>
        <div class="container">
            <nav class="nav_checkbox">
                <a href="../../index.html" class="logo"><img src="../image/om-logo.png" alt="Logo de Om Accesorios"></a>
                <input type="checkbox" id="tab-nav" class="tab-nav">
                <label for="tab-nav" class="label">
                    <div class="burger"></div>
                    <div class="burger"></div>
                    <div class="burger"></div>
                </label>
                <ul class="content_nav">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="envios-entregas.html">Envios y Entregas</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>


<!-- La tabla solicitada. La cual tiene datos de los envios y cobros por envios que hace la tienda-->

    <div class="tablas-titulos">
        <h2>Envios y Entregas en persona</h2>
    </div>
    <table class="table">
        <tr>
            <th>Envios</th>
            <th>Por Correo Argentino</th>
            <th>Por Epick</th>
        </tr>
        <tr>
            <td>Envios Por Caba</td>
            <td>1000</td>
            <td>600</td>
            
            
        </tr>
        <tr>
            <td>Envios Al interior</td>
            <td>El total  + 2000</td>
            <td> El total + 1000</td>
        </tr>

        <tr>
            <td>Envios Amba</td>
            <td>El total  + 600</td>
            <td> El total + 200</td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th>Punto de Entregas</th>
            <th>En persona</th>
            <th>Por tercero</th>
        </tr>
        <tr>
            <td>Hurlingham</td>
            <td>El valor del producto  + 100</td>
            <td>El valor del producto + 200</td>
            
            
        </tr>
        <tr>
            <td>Ramos Mejia</td>
            <td>El total del producto + 200</td>
            <td> El total del producto + 300</td>
        </tr>

        <tr>
            <td>Capital Federal</td>
            <td>El total del producto</td>
            <td>El total del producto</td>
        </tr>
    </table>

<!-- Aquie comienza el footer con algunas redes e informacion que deberia tener la pagina-->

<footer class="pie-pagina">
    <div class="grupo1">
        <div class="caja">
            <figure>
                <a href="../../index.html">
                    <img src="../image/om-logo.png" alt="LOGO De om Accesorios">
                </a>
            </figure>
        </div>
        <div class="cajaSobreNosotros">
            <h2>Sobre Nosotros</h2>

            <li><a href="../../index.html">Home</a></li>
                <li><a href="./envios-entregas.html">Envios y Entregas</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <p>Pueden contactarnos al 11-2222-3333</p>
                <p>Atencion al cliente todos los dias. De 9 a 18 HS.</p>
        </div>
        <div class="caja">
            <h2>Siguenos</h2>
            <div class="red-social">
                <a href="https://es-la.facebook.com/" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/?hl=es" class="fa fa-instagram"></a>
                <a href="https://twitter.com/?lang=es" class="fa fa-twitter"></a>

            </div>

        </div>
    </div>

    <div class="grupo2">
        <small> &copy; <b>Om Accesorios</b> -Todos los Derechos Reservados</small>
    </div>

</footer>
    
</body>
</html>