<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om Accesorios-Nosotros</title>
    <meta name="description" content="Te contamos todo sobre nosotros. Quienes somos, como iniciamos, como nos formamos y como surjio toda esta idea de cero. ¡Pasate a conocernos">
    <meta name="keyboard" content="nosotros, redes, informacion importante, descripcion">
    <link rel="stylesheet" href="../css/index.css"> 
    <link rel="stylesheet" href="../sass/index.css">
    <script src="https://kit.fontawesome.com/e8ae0d13c5.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Menu de navegacion.-->
    <header>
        <div class="container">
            <nav class="nav_checkbox">
                <a href="../../index.html" class="logo"><img src="../image/om-logo.png" alt="Logo de Om Accesorios"></a>
                <input type="checkbox" id="tab-nav" class="tab-nav">
                <label for="tab-nav" class="label">
                    <div class="burger"></div>
                    <div class="burger"></div>
                    <div class="burger"></div>
                </label>
                <ul class="content_nav">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="./envios-entregas.html">Envios y Entregas</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Seccion donde explica quienes son, donde encontrarlos, etc-->
    <section>
        <article class="nosotros-texto">
            <h2>Sobre Nosotros</h2>
            <div class="imagenOm">
                <img class="" src="../image/decidiEmprender.jpeg" alt="¿Por que decidi emprender?">
                
                <p>
                    Lo mejor para nosotros es contarles como comenzamos ¿No? Todo esto empezo como una idea en Julio de 2018, buscando donde trabajar y sin posibilidades dada la situacion en Argentina era algo imposible
                    y mas para jovenes como nosotros, sin experiencia y con solo un titulo secundario que podia demostrar nuestros estudios. Mirando paginas de Instagram, de emprendedores, mi mama me dijo ¿Por que no empezas a vender acero Quirurgico?
                </p>
            </div>
            
            
            
            <div class="infoOmMasFoto">
                <p>  
                    Asi es como empece a buscar lugares que vendan por mayor. Recuerdo que lo primero que tuve fueron un par de anillos y aros, gracias a los ahorros y un poco de ayuda economica de familiares que estaban dispuestos a ayudarme.
                    Exacramente el 25 de Julio empezo esta travesia, que empezo via ventas online con el primer post publicad. Al principio fue algo dificil, tener el alcance, los "me gusta" en los comentarios y en la fotos.
                    No fue algo facil llegar al publico que hoy en dia tengo y que no esperaba jamas llegar a tener. 
                </p>
                
                <img src="../image/emprenderTrabajar.jpeg" alt="Emprender es trabajr">
            </div>

            
           
            <div class="info2">
                
                <p> 
                    Ya van dos años de este hermoso emprendimiento ¡y no puedo estas mas feliz! Me encanta emprender, manejar las redes sociales, ir a ferias donde hay una energia tan buena.
                    Este emprendimiento esta creciendo muy bien y queremos llegar aun mas alto, y con eso, necesitaremos ampliar nuestros horizontes, llegar a mas publico y llegar un mas lejos. Por eso aqui, donde estan leyendo esto, ¡es nuestra primera pagina web oficial!
                    Gracias a esto, podremos controlar mejor nuestro stock, podran ver muchos mas productos, consultar ¡Y hasta comprar!. Las cosas que uno piensan se cumplen, deben imaginarlo y hacerlo, moverse, todo se puede. 
                    El mensaje que les quiero dejar es. Los sueños se cumplen, asi que sueñen alto. Con esfuerzo, dedicacion y buena energia todo se puede lograr. 
                </p>

                <img src="../image/gracias.jpeg" alt="Gracias">

            </div>

        </article>
    </section>


    <!-- Aquie comienza el footer con algunas redes e informacion que deberia tener la pagina-->


    <footer class="pie-pagina">
        <div class="grupo1">
            <div class="caja">
                <figure>
                    <a href="../../index.html">
                        <img src="../image/om-logo.png" alt="LOGO De om Accesorios">
                    </a>
                </figure>
            </div>
            <div class="cajaSobreNosotros">
                <h2>Sobre Nosotros</h2>

                <li><a href="../../index.html">Home</a></li>
                    <li><a href="./envios-entregas.html">Envios y Entregas</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <p>Pueden contactarnos al 11-2222-3333</p>
                    <p>Atencion al cliente todos los dias. De 9 a 18 HS.</p>
            </div>
            <div class="caja">
                <h2>Siguenos</h2>
                <div class="red-social">
                    <a href="https://es-la.facebook.com/" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/?hl=es" class="fa fa-instagram"></a>
                    <a href="https://twitter.com/?lang=es" class="fa fa-twitter"></a>

                </div>

            </div>
        </div>

        <div class="grupo2">
            <small> &copy; <b>Om Accesorios</b> -Todos los Derechos Reservados</small>
        </div>

    </footer>


    
</body>
</html>