<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om Accesorios-Productos</title>
    <meta name="description" content="Estos son los mejores productos que podras encontrar. ¡A precios muy accesibles y con descuentos muy buenos! No dudes en consultarnos.">
    <meta name="keyboard" content="productos, ventas, ver mas, importante, tienda, comprar">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../sass/index.css">
    <script src="https://kit.fontawesome.com/e8ae0d13c5.js" crossorigin="anonymous"></script>
</head>
<body>

    <!--Menu de navegacion.-->
    <header>
        <div class="container">
            <nav class="nav_checkbox">
                <a href="../../index.html" class="logo"><img src="../image/om-logo.png" alt="Logo de om Accesorios"></a>
                <input type="checkbox" id="tab-nav" class="tab-nav">
                <label for="tab-nav" class="label">
                    <div class="burger"></div>
                    <div class="burger"></div>
                    <div class="burger"></div>
                </label>
                <ul class="content_nav">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="./envios-entregas.html">Envios y Entregas</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

 <!--Seccion de productos que ofrece la tienda-->

<section class="produc">
  <h2>Productos</h2>
    <div class="card estilo-c">
      <a href="#">
        <div class="img-container">
          <img src="../image/anillos.png" alt="producto 1">
          <span class="promo">15% de descuento</span>
        </div>
       </a>
      <div class="info-container">
        <h3>Anillos</h3>
        <strong>$100</strong>
        <span class="rating">★★★★☆</span>
        <a href="#" class="add-cart">Añadir al carrito</a>
      </div>
    </div>
    <div class="card estilo-c">
      <a href="#">
        <div class="img-container">
          <img src="../image/aros.jpg" alt="producto 1">
          <span class="promo">35% de descuento</span>
        </div>
        </a>
      <div class="info-container">
        <h3>Aros</h3>
        <strong>$200</strong>
        <span class="rating">★★★☆☆</span>
        <a href="#" class="add-cart">Añadir al carrito</a>
      </div>
    </div>
    <div class="card estilo-c">
      <a href="#">
        <div class="img-container">
          <img src="../image/Chokers.png" alt="producto 1">
          <span class="promo">60% de descuento</span>
        </div>
        </a>
      <div class="info-container">
        <h3>Chokers</h3>
        <strong>$120</strong>
        <span class="rating">★★★★★</span>
        <a href="#" class="add-cart">Añadir al carrito</a>
      </div>
    </div>
    <div class="card estilo-c">
      <a href="#">
        <div class="img-container">
          <img src="../image/collar.jpg" alt="producto 1">
          <span class="promo">30% de descuento</span>
        </div>
        </a>
      <div class="info-container">
        <h3>Collar</h3>
        <strong>$400</strong>
        <span class="rating">★★★★★</span>
        <a href="#" class="add-cart">Añadir al carrito</a>
      </div>
    </div>
    <div class="card estilo-c">
      <a href="#">
        <div class="img-container">
          <img src="../image/Dijes.png" alt="producto 1">
          <span class="promo">10% de descuento</span>
        </div>
        </a>
      <div class="info-container">
        <h3>Dijes</h3>
        <strong>$150</strong>
        <span class="rating">★★★★★</span>
        <a href="#" class="add-cart">Añadir al carrito</a>
      </div>
    </div>
    <div class="card estilo-c">
      <a href="#">
        <div class="img-container">
          <img src="../image/piedras.png" alt="producto 1">
          <span class="promo">25% de descuento</span>
        </div>
        </a>
      <div class="info-container">
        <h3>Piedras</h3>
        <strong>600</strong>
        <span class="rating">★★★★★</span>
        <a href="#" class="add-cart">Añadir al carrito</a>
      </div>
    </div>
    <div class="card estilo-c">
      <a href="#">
        <div class="img-container">
          <img src="../image/Piercings.png" alt="producto 1">
          <span class="promo">30% de descuento</span>
        </div>
        </a>
      <div class="info-container">
        <h3>Piercing</h3>
        <strong>$90</strong>
        <span class="rating">★★★★★</span>
        <a href="#" class="add-cart">Añadir al carrito</a>
      </div>
    </div>
    <div class="card estilo-c">
      <a href="#">
        <div class="img-container">
          <img src="../image/pulseras.png" alt="producto 1">
          <span class="promo">20% de descuento</span>
        </div>
        </a>
      <div class="info-container">
        <h3>Pulseras</h3>
        <strong>$200</strong>
        <span class="rating">★★★★★</span>
        <a href="#" class="add-cart">Añadir al carrito</a>
      </div>
    </div>
</section>








<!-- Aquie comienza el footer con algunas redes e informacion que deberia tener la pagina-->
<footer class="pie-pagina">
    <div class="grupo1">
        <div class="caja">
            <figure>
                <a href="../../index.html">
                    <img src="../image/om-logo.png" alt="LOGO De om Accesorios">
                </a>
            </figure>
        </div>
        <div class="cajaSobreNosotros">
            <h2>Sobre Nosotros</h2>

            <li><a href="../../index.html">Home</a></li>
                <li><a href="./envios-entregas.html">Envios y Entregas</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <p>Pueden contactarnos al 11-2222-3333</p>
                <p>Atencion al cliente todos los dias. De 9 a 18 HS.</p>
        </div>
        <div class="caja">
            <h2>Siguenos</h2>
            <div class="red-social">
                <a href="https://es-la.facebook.com/" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/?hl=es" class="fa fa-instagram"></a>
                <a href="https://twitter.com/?lang=es" class="fa fa-twitter"></a>

            </div>

        </div>
    </div>

    <div class="grupo2">
        <small> &copy; <b>Om Accesorios</b> -Todos los Derechos Reservados</small>
    </div>

</footer>
</body>
</html>