*{
  box-sizing: border-box;
}




.produc{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
    margin-top: 35px;
    
    align-items: center;
    

    

    h2{
      margin-top: 15px;
      width: 100%;
      font-size: 35px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
    }

  }
  
  
  
  .estilo-c{
    font-family: sans-serif;
    width: 30%;
    margin-top: 35px;
  }
  .estilo-c .img-container{
    overflow: hidden;
    height: 300px;
    position: relative;
    border-radius: 15px;
    
  }
  .estilo-c .img-container img{
    width: 105%;
    position: absolute;
    top: -60%;
    transition: all 0.5s;
  }
  .estilo-c:hover .img-container img{
    transform: scale(1.2);
  }
  .estilo-c .img-container .promo{
        
       
    height: auto;
   
    font-size: 15px;
    background: yellow;
    
    color: black;
    
  }
 
  .estilo-c .info-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .estilo-c .info-container h3{
    margin: 0;
  }
  .estilo-c .info-container h3,
  .estilo-c .info-container strong,
  .estilo-c .info-container span{
    padding: 5px 15px;
    width: 100%;
  }
  .estilo-c .add-cart{
    margin-top: 2px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;
  }
  .estilo-c .add-cart:hover{
    color: black;
    background-color: transparent;
    border: 1px solid black;
  }